@import css-reset

#gameWrap
    width: 100vmin
    margin: 0 auto
    text-align: center
    table
        width: 20%
        display: inline-table
        tr
            width: 100%
            td
                width: 3em
                height: 3em
                font-size: 1.5vmin
                border: 1px solid black
