@import css-reset

#gameWrap
    width: 80vmin
    border: 1px solid black
    margin: 0 auto
    text-align: center
    line-height: 0
    table
        width: 25%
        display: inline-table
        tbody[data-active=false]
            td
                background-color: red
        tr
            width: 100%
            td
                width: 3.2em
                height: 3.2em
                font-size: 1.5vmin
                border: 1px solid black
                position: relative
                span
                    position: absolute
                    top: 0
                    bottom: 0
                    font-size: 1.5em
                    right: 0
                    left: 0
                    margin: auto
                    line-height: 0
                    height: 0
                    pointer-events: none
#score
    width: 80vmin
    margin: 0 auto
    span
        width: calc(50% - .5em)
        display: inline-block
        margin: .25em
        &.header
            font-weight: bold
        &:nth-of-type(odd)
            text-align: right
